@model IEnumerable<Wediary.Models.TaskUser>

@{
    ViewData["Title"] = "Contact";
}

<link href="~/css/fontello.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <h2>Panna Młoda</h2>
    </div>

    <table class="table table-hover table-responsive">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Stan</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Realizator</th>
                <th scope="col">Ilość</th>
                <th scope="col">Jednostka</th>
                <th scope="col">Cena spodziewana</th>
                <th scope="col">Cena reczywista</th>
                <th scope="col">Wpłata</th>
                <th scope="col">Pozostało</th>
                <th scope="col">Cena Całk.</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-success">
                    <th scope="row">1</th>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="stanZad">
                            <label class="form-check-label" for="defaultCheck1"></label>
                        </div>
                    </td>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.Quantity)</td>
                    <td>@Html.DisplayFor(model => item.Unit)</td>
                    <td>@Html.DisplayFor(model => item.ExpectedPrice)</td>
                    <td>@Html.DisplayFor(model => item.Payment)</td>
                    <td>@Html.DisplayFor(model => item.TotalPrice)</td>
                    <td>@Html.DisplayFor(model => item.Date)</td>
                    <td>@Html.DisplayFor(model => item.Contractor)</td>
                    <td>@Html.DisplayFor(model => item.Status)</td>
                    <td>@Html.DisplayFor(model => item.Category)</td>
                    <td>  <i class="icon-eye"></i>  </td>
                </tr>
            }
        </tbody>
    </table>
</div>