<link href="~/css/homePage.css" rel="stylesheet" />
<link href="~/css/splide.min.css" rel="stylesheet" />
<link href="~/css/splide-skyblue.min.css" rel="stylesheet" />
@model Wediary.Models.HelpModels.MainPageDataModel;

@{
    ViewData["Title"] = "Panel ślubu";
}

<section>


    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div id="image-slider" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="overlay">
                                    <img src="~/images/img/img 1600x500/obraczki i kwiat 1600x500.jpg" />
                                    <div class="textOverlay">
                                        Zaplanuj swoje wymarzone wesele!
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="overlay">
                                    <img src="~/images/img/img 1600x500/weddingtables-1600x500.jpg" />
                                    <div class="textOverlay">
                                        Zaplanuj miejsca gości i układ sali!
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="overlay">
                                    <img src="~/images/img/img 1600x500/stol weselny 1600x500.jpg" />
                                    <div class="textOverlay">
                                        Zapanuj nad listą gości!
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <asaide class="col-12" style="min-height: 25px;"></asaide>
            <div class="left-part">
                <div class=" col-md-5 m-5">
                    <img src="~/images/img/lista różowa.jpg" class="img-fluid">
                </div>
            </div>
            <div class="right-part">
                <div class="col-md-12 text-center bg-info">
                    <h2><img src="~/images/img/kalendarz1.jpg" class="img-fluid"></h2>
                    <div class="text-left">
                        @if ((String.IsNullOrWhiteSpace(Model.FullNameGroom) && String.IsNullOrWhiteSpace(Model.FullNameBride)))
                        {
                            <p class="alert-info">Pan Młody & Pani Młoda</p>

                        }
                        else if (String.IsNullOrWhiteSpace(Model.FullNameBride))
                        {
                            <p class="alert-info"> @Model.FullNameGroom & Pani Młoda </p>

                        }
                        else if (String.IsNullOrWhiteSpace(Model.FullNameGroom))
                        {

                            <p class="alert-info">Pan Młody & @Model.FullNameBride</p>

                        }
                        else
                        {
                            <p class="alert-info">@Model.FullNameBride & @Model.FullNameGroom</p>
                        }
                        @if (!(Model.WeddingDate == "1.1.1"))
                        {
                            <p class="alert-info">Data ślubu: @Model.WeddingDate </p>

                        }


                    </div>
                </div>
            </div>
            <div class="style=clear:both;"></div>
        </div>
        <div class="row">
            <div class="kafelek col-md-3 ">
                <p> Ukończone zadania </p>
                <p> @Model.EndTasks / @Model.CounterTask </p>
            </div>
            <div class="kafelek col-md-3">
                <p> Porwierdzenie Goście </p>
                <p>  @Model.ConfirmGuests / @Model.CounterGuest </p>
            </div>
            <div class="kafelek col-md-3">
                <p> Budżet: </p>
                <p> @Model.Budget </p>
            </div>
        </div>
    </div>
</section>

<script src="~/js/splide.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#image-slider', {
            type: 'fade',
            rewind: true,
            width: '100vw',
            perPage: 1,
            autoplay: true,
            pauseOnHover: true,
        }).mount();
    });
</script>
