@using Wediary.Data.Models;
@using Wediary.Models.HelpModels;
@model IEnumerable<Guest>;

@{
    ViewData["Title"] = "Lista gości";
}

<link href="~/css/fontello.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2 class="col-sm-12">Lista gości weselnych</h2>
        <!-- Button trigger modal -->
        <div class="col-sm-2">
            <a asp-area="" asp-controller="Guest" asp-action="AddGuest" class="btn btn-primary">Dodaj gości</a>
        </div>
    </div>
</div>
<div class="container">
    <h2>Goście który potwierdzili obecność</h2>
    <div class="col align-self-center">

        <table class="table table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">Imie i Nazwisko</th>
                    <th scope="col">Rola</th>
                    <th scope="col">Nocleg</th>
                    <th scope="col">Poprawiny</th>
                    <th scope="col">Czy dieta</th>
                    <th scope="col">Opis diety</th>
                    <th scope="col">Opcje</th>
                    <th scope="col">Operacje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, i) => new { i = i + 1, value }))
                {
                    if (item.value.InvitationStatus == StatusGuestInvitation.Accept)
                    {
                <tr>
                    <th scope="row">@item.i</th>

                    <td>@item.value.Name @item.value.Surname</td>
                    @if (item.value.Role == null)
                    {
                        <td>Gość</td>
                    }
                    else
                    {
                        <td>@item.value.Role</td>
                    }

                    <!--Ikony bed przy noclegu -->
                    @if (item.value.IfAccommodation == true)
                    {
                        <td>
                            <div class="iconActive"><i class="fa fa-bed">Tak</i> </div>
                        </td>

                    }
                    else
                    {
                        <td>
                            <div class="iconOff"><i class="fa fa-bed">Nie</i> </div>
                        </td>

                    }
                    <!--Ikony ciasto przy poprawinach -->
                    @if (item.value.IfAftermath == true)
                    {
                        <td>
                            <div class="iconActive"><i class="fa fa-birthday-cake"> Tak</i> </div>
                        </td>

                    }
                    else
                    {
                        <td>
                            <div class="iconOff"><i class="fa fa-birthday-cake"> Nie</i> </div>

                        </td>

                    }

                    <!--Ikony ksiazki prz diecie bo niestety inne ikonki nie chciały dzialac-->
                    @if (item.value.DescriptionDiet == null)
                    {
                        <td>
                            <div class="iconActive"><i class="fa fa-book"> Tak</i> </div>
                        </td>
                        <td>
                            Brak
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="iconOff"><i class="fa fa-book"> Nie</i>  </div>
                        </td>
                        <td>
                            @item.value.DescriptionDiet
                        </td>
                    }
                    <td>
                        <form asp-controller="Guest" asp-action="ChangeInvitation" asp-route-id="@item.value.IdGuest" asp-route-state="@StatusGuestInvitation.Unanswered" method="post">
                            <button type="submit" class="btn btn-danger">Wykreś potwierdzenie</button>
                        </form>
                    </td>
                    <td>
                        <a asp-controller="Guest" asp-action="Delete" asp-route-id="@item.value.IdGuest" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h2>Goście który nie potwierdzili obecność</h2>
    <div class="col align-self-center">

        <table class="table table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">Imie i Nazwisko</th>
                    <th scope="col">Rola</th>
                    <th scope="col">Nocleg</th>
                    <th scope="col">Poprawiny</th>
                    <th scope="col">Czy dieta</th>
                    <th scope="col">Opis diety</th>
                    <th scope="col">Opcje</th>
                    <th scope="col">Operacje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, i) => new { i = i + 1, value }))
                {
                    if (item.value.InvitationStatus == StatusGuestInvitation.Unanswered)
                    {
                <tr>
                    <th scope="row">@item.i</th>

                    <td>@item.value.Name @item.value.Surname</td>
                    @if (item.value.Role == null)
                    {
                        <td>Gość</td>
                    }
                    else
                    {
                        <td>@item.value.Role</td>
                    }
                    <!--Ikony bed przy noclegu -->
                    @if (item.value.IfAccommodation == true)
                    {
                        <td>
                            <div class="iconActive"><i class="fa fa-bed"> Tak</i> </div>
                        </td>

                    }
                    else
                    {
                        <td>
                            <div class="iconOff"><i class="fa fa-bed"> Nie</i> </div>
                        </td>

                    }
                    <!--Ikony ciasto przy poprawinach -->
                    @if (item.value.IfAftermath == true)
                    {
                        <td>
                            <div class="iconActive"><i class="fa fa-birthday-cake"> Tak</i> </div>
                        </td>

                    }
                    else
                    {
                        <td>
                            <div class="iconOff"><i class="fa fa-birthday-cake"> Nie</i> </div>

                        </td>
                    }
                    <!--Ikony ksiazki prz diecie bo niestety inne ikonki nie chciały dzialac-->
                    @if (item.value.DescriptionDiet == null)
                    {
                        <td>
                            <div class="iconActive"><i class="fa fa-book"> Tak</i> </div>
                        </td>
                        <td>
                            Brak
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="iconOff"><i class="fa fa-book"> Nie</i>  </div>
                        </td>
                        <td>
                            @item.value.DescriptionDiet
                        </td>
                    }
                    <td>
                        <form asp-controller="Guest" asp-action="ChangeInvitation" asp-route-id="@item.value.IdGuest" asp-route-state="@StatusGuestInvitation.Accept" method="post">
                            <button type="submit" class="btn btn-info">Potwierdź</button>
                        </form>
                    </td>
                    <td>
                        <a asp-controller="Guest" asp-action="Delete" asp-route-id="@item.value.IdGuest" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="js/bootstrap.min.js"></script>

