@using Wediary.Data.Models;
@model IEnumerable<Guest>;

<link href="~/css/fontello.css" rel="stylesheet" />

<div class="container">

    <div class="row">
        <h2 col-sm-10>Lista gości weselnych</h2>

        <!-- Button trigger modal -->
        <div class="col-sm-2">
                <a asp-area="" asp-controller="Guest" asp-action="AddGuest" class="btn btn-primary">Dodaj gości</a>
        </div>

        
    </div>


    <!-- Guest List -->
    <div class="col align-self-center">

        <table class="table table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">Imie i Nazwisko</th>
                    <th scope="col">Rola</th>
                    <th scope="col">Nocleg</th>
                    <th scope="col">Poprawiny</th>
                    <th scope="col">Czy dieta</th>
                    <th scope="col">Opis diety</th>
                    <th scope="col">Zaproszenie</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, i) => new { i = i + 1, value }))
                {
                <tr>
                    <th scope="row">@item.i</th>

                    <td>@item.value.Name @item.value.Surname</td>
                    @if (item.value.Role == null)
                    {
                        <td>Gość</td>
                    }
                    else
                    {
                        <td>@item.value.Role</td>
                    }

                    @if (item.value.IfAccommodation == true)
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xf236"><i class="demo-icon icon-bed">Tak</i> </div>
                        </td>

                    }
                    else
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xf236"><i class="demo-icon icon-bed">Nie</i> </div>
                        </td>

                    }
                    <!--Ikony bed przy poprawinach ?-->
                    @if (item.value.IfAftermath == true)
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xf236"><i class="demo-icon icon-bed">Tak</i> </div>
                        </td>

                    }
                    else
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xf236"><i class="demo-icon icon-bed">Nie</i> </div>
                        </td>

                    }

                    @if (item.value.DescriptionDiet == null)
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xe803"><i class="demo-icon icon-glass">Nie</i></div>
                        </td>
                        <td>
                            Brak
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xe803"><i class="demo-icon icon-glass">Tak</i></div>
                        </td>
                        <td>
                            @item.value.DescriptionDiet
                        </td>
                    }

                    @if (item.value.InvitationStatus == "true")
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xf2b7"><i class="demo-icon icon-envelope-open-o">Zaproszony</i> </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="the-icons span3" title="Code: 0xf2b7"><i class="demo-icon icon-envelope-open-o">Nie Zaproszony</i> </div>
                        </td>
                    }



                </tr>
                }


            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="js/bootstrap.min.js"></script>

<!--***********************************************************************************************-->
