@using Wediary.Data.Models
@using Wediary.Models.HelpModels
@model IEnumerable<TaskUser>

@{
    ViewData["Title"] = "Lista zadań";
}

<link href="~/css/fontello.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <h2 class="col-sm-12 headerText">Lista wszystkich zadań</h2>

        <div class="col-sm-2 col-sm-offset-1">
            <a asp-area="" asp-controller="Home" asp-action="About" class="btn buttonSizeBigger">Dodaj nowe zadanie</a>
        </div>

        <div class="col-sm-2 col-sm-offset-1">
            <a asp-area="" asp-controller="Task" asp-action="Index" asp-route-filter="MaxToMin" class="btn buttonSizeBigger">Sortuj od najmniejszej</a>

        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <a asp-area="" asp-controller="Task" asp-action="Index" asp-route-filter="MinToMax" class="btn buttonSizeBigger">Sortuj od najwiekszej</a>

        </div>
    </div>
</div>

<div class="container">
    <h2 class="headerText">Aktywne zadania</h2>
    <table class="col-sm-12 table table-hover table-responsive text-center">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Nazwa</th>
                <th class="text-center" scope="col">Ilość</th>
                <th class="text-center" scope="col">Jednostka</th>
                <th class="text-center" scope="col">Cena oczekiwana</th>
                <th class="text-center" scope="col">Zaliczka</th>
                <th class="text-center" scope="col">Cena rzeczywista</th>
                <th class="text-center" scope="col">Data</th>
                <th class="text-center" scope="col">Wykonawca</th>
                <th class="text-center" scope="col">Kategoria</th>
                <th class="text-center" scope="col">Opcje</th>
                <th class="text-center" scope="col">Operacje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.State == StateTaskModels.Active)
                {
                    <tr class="bg-success">
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>@item.ExpectedPrice</td>
                        <td>@item.Payment</td>
                        <td>@item.TotalPrice</td>
                        <td>@item.Date</td>
                        <td>@item.Contractor</td>
                        <td>@item.Category</td>
                        <td>
                            <form asp-controller="Task" asp-action="ChangeToActive" asp-route-id="@item.IdTask" asp-route-state="@StateTaskModels.End" method="post">
                                <button type="submit" class="btn buttonSize">Zakończ</button>
                            </form>
                            <form asp-controller="Task" asp-action="ChangeToActive" asp-route-id="@item.IdTask" asp-route-state="@StateTaskModels.Fail" method="post">
                                <button type="submit" class="btn buttonSize">Odwołaj</button>
                            </form>
                        </td>
                        <th>
                            <a asp-controller="Task" asp-action="EditTask" asp-route-id="@item.IdTask" class="btn buttonSize">Modyfikuj</a>
                            <a asp-controller="Task" asp-action="DeleteTask" asp-route-id="@item.IdTask" class="btn buttonSizeDanger">Usuń</a>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="container">
    <h2 class="headerText">Zakończone zadania</h2>
    <table class="table table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Nazwa</th>
                <th class="text-center" scope="col">Ilość</th>
                <th class="text-center" scope="col">Jednostka</th>
                <th class="text-center" scope="col">Cena oczekiwana</th>
                <th class="text-center" scope="col">Zaliczka</th>
                <th class="text-center" scope="col">Cena rzeczywista</th>
                <th class="text-center" scope="col">Data</th>
                <th class="text-center" scope="col">Wykonawca</th>
                <th class="text-center" scope="col">Kategoria</th>
                <th class="text-center" scope="col">Opcje</th>
                <th class="text-center" scope="col">Operacje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.State == StateTaskModels.End)
                {
            <tr class="bg-success">
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>@item.ExpectedPrice</td>
                <td>@item.Payment</td>
                <td>@item.TotalPrice</td>
                <td>@item.Date</td>
                <td>@item.Contractor</td>
                <td>@item.Category</td>
                <td>
                    <form asp-controller="Task" asp-action="ChangeToActive" asp-route-id="@item.IdTask" asp-route-state="@StateTaskModels.Active" method="post">
                        <button type="submit" class="btn buttonSize">Aktywuj</button>
                    </form>
                    <form asp-controller="Task" asp-action="ChangeToActive" asp-route-id="@item.IdTask" asp-route-state="@StateTaskModels.Fail" method="post">
                        <button type="submit" class="btn buttonSize">Odwołaj</button>
                    </form>
                </td>
                <th>
                    <a asp-controller="Task" asp-action="EditTask" asp-route-id="@item.IdTask" class="btn buttonSize">Modyfikuj</a>
                    <a asp-controller="Task" asp-action="DeleteTask" asp-route-id="@item.IdTask" class="btn buttonSizeDanger">Usuń</a>
                </th>
            </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="container">
    <h2 class="headerText">Nieudane zadania</h2>
    <table class="col-sm-12 table table-hover table-responsive text-center">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Nazwa</th>
                <th class="text-center" scope="col">Ilość</th>
                <th class="text-center" scope="col">Jednostka</th>
                <th class="text-center" scope="col">Cena oczekiwana</th>
                <th class="text-center" scope="col">Zaliczka</th>
                <th class="text-center" scope="col">Cena rzeczywista</th>
                <th class="text-center" scope="col">Data</th>
                <th class="text-center" scope="col">Wykonawca</th>
                <th class="text-center" scope="col">Kategoria</th>
                <th class="text-center" scope="col">Opcje</th>
                <th class="text-center" scope="col">Operacje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.State == StateTaskModels.Fail)
                {
            <tr class="bg-success">
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>@item.ExpectedPrice</td>
                <td>@item.Payment</td>
                <td>@item.TotalPrice</td>
                <td>@item.Date</td>
                <td>@item.Contractor</td>
                <td>@item.Category</td>
                <td>
                    <form asp-controller="Task" asp-action="ChangeToActive" asp-route-id="@item.IdTask" asp-route-state="@StateTaskModels.End" method="post">
                        <button type="submit" class="btn buttonSize">Zakończ</button>
                    </form>
                    <form asp-controller="Task" asp-action="ChangeToActive" asp-route-id="@item.IdTask" asp-route-state="@StateTaskModels.Active" method="post">
                        <button type="submit" class="btn buttonSize">Aktywuj</button>
                    </form>
                </td>
                <th>
                    <a asp-controller="Task" asp-action="EditTask" asp-route-id="@item.IdTask" class="btn buttonSize">Modyfikuj</a>
                    <a asp-controller="Task" asp-action="DeleteTask" asp-route-id="@item.IdTask" class="btn buttonSizeDanger">Usuń</a>
                </th>
            </tr>
                }
            }
        </tbody>
    </table>
</div>